.gradecanguru{
    display: grid;
    grid-template-columns: repeat(3,33.3%);
    grid-template-rows: repeat (3,auto);
    gap: 0px;
}
header{
    height: 250px;
    color: brown;
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 1;
}
main{
    height: 500px;
    color: chocolate;
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
}
footer{
    height: 250px;
    color: blue;
    grid-column-start:1;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    
}
